
<ion-content fullscreen >
<!--  <img src="{{ this.filesArr[index].path }}">
  <ion-button  color="red" fill="outline" (click)="presentAlert(this.filesArr[index].uuid)">Delete</ion-button>-->
  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide *ngFor="let image of filesArr, let i = index ">
      <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="onCancel()" color="primary"  fill="outline" expand="block">
          <ion-icon name="backspace" ></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button (click)="presentAlert(image.uuid_img,i)" color="red"  fill="outline" expand="block">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-grid>
        <ion-row>
          <div class="swiper-zoom-container">
            <img src="{{ image.path }}">
          </div>
        </ion-row>
        <!--<ion-button  mode="ios" color="red" fill="outline" expand="block" class="ion-margin-top"  (click)="presentAlert(image.uuid,i)">
          Delete
        </ion-button>-->
        <!--<ion-row >
&lt;!&ndash;
            <ion-button  color="red" fill="outline" (click)="presentAlert(image.uuid,i)">Delete</ion-button>
&ndash;&gt;
          <ion-button  mode="ios" color="red" fill="outline" expand="block" class="ion-margin-top"  (click)="presentAlert(image.uuid,i)">
            Delete
          </ion-button>
        </ion-row>-->
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

