<ion-header no-border>
  <ion-toolbar color="pvn">
    <div class="content_header">
      <ion-buttons slot="start">
        <ion-button size="large" (click)="gotoBack()"> <ion-icon name="arrow-back" style="color: white"></ion-icon> </ion-button>
      </ion-buttons>
      <img style="vertical-align: baseline" src="http://222.255.252.41/content/uploads/logo.jpg" alt="">
      <div class="text">
        <div class="big_text">TẬP ĐOÀN DẦU KHÍ QUỐC GIA VIỆT NAM </div>
        <div class="small_text">HỆ THỐNG CSDL AN TOÀN SỨC KHỎE MÔI TRƯỜNG </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
      <ion-card-header>
          <ion-card-subtitle color="pvn">{{problem.title.vi}}</ion-card-subtitle>
      </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
          <ion-textarea type="text"  rows=8 [(ngModel)]= problem.description></ion-textarea>
          <ion-item class ="selectOptions" *ngIf="editAble">
              <ion-label color="pvn">Đánh giá</ion-label>
              <ion-select [(ngModel)]="problem.state"  ok-text="Xác nhận"  cancel-text="Huỷ"   [ngClass]="{'ok': problem.state === 'ok','notOk': problem.state === 'not'}" >
                  <ion-select-option class ="ok" value="ok">Đạt</ion-select-option>
                  <ion-select-option value="not">Không đạt</ion-select-option>
                  <ion-select-option value="improve">Cải tiến</ion-select-option>
                  <ion-select-option value="noted" >Ghi nhận</ion-select-option>
                  <ion-select-option value="noapply">Không áp dụng</ion-select-option>
              </ion-select>
          </ion-item>
        <div class="horizontal-scroll">
            <ul style="white-space:nowrap">
                <ng-container class="img-gallery" *ngFor="let image of filesArr ,let i = index">
                    <img (click)="openImageViewer(i)" *ngIf="image.path.indexOf('.wav') <= -1"
                         style="display: inline; border-radius: 10px;width:100px;height: 80px;margin-right: 10px"
                         [src]="image.path" />
                    <audio controls *ngIf="image.path.indexOf('.wav') > -1"
                            src="{{image.path}}" >
                        Your browser does not support the
                        <code>audio</code> element.
                    </audio>
                </ng-container>
            </ul>
        </div>
      </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="bluegrey-invert">
    <ion-buttons slot="start" >
      <ion-button fill="clear" expand="full" color="pvn" (click)="selectMedia()"*ngIf="editAble">
        <ion-icon slot="start" name="document"></ion-icon>
        Đính Kèm File
      </ion-button>
    </ion-buttons>
      <ion-buttons slot="end" >
      <ion-button fill="clear" expand="full" color="pvn" (click)="save()"*ngIf="editAble">
        Lưu
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
