<ion-header no-border>
  <ion-toolbar color="pvn">
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" >
        <div style="color:white"> Quay lại </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar >
</ion-header>
<ion-content padding>
  <ng2-pdfjs-viewer [page]="page"  pdfSrc="{{src}}"></ng2-pdfjs-viewer>
  <!--<ion-refresher slot="fixed" (ionRefresh)="loadData(true, $event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>-->
 <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-fab-button size="small" (click)="scrollToPage()">{{page}}</ion-fab-button>

  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="zoomIn()">+</ion-fab-button>
    <ion-fab-button size="small" (click)="zoomOut()">-</ion-fab-button>

  </ion-fab>
  <pdf-viewer  [src]="src"  [fit-to-page]="true" original-size="false" [show-all]="true" [show-borders]="true" [zoom]="pdfZoom" (after-load-complete)="callBackFn($event)"></pdf-viewer>
-->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title slot="start" style="color: blue">
      © HSE-PVN
    </ion-title>
  </ion-toolbar>
</ion-footer>
